body{
	position: absolute;
	margin: auto;
}
p{
			border: 2px blue;
			background-color: blue;
			width: 90%;
			height: 250px;
			margin-right: auto;
			margin-left: auto;
			color:  white;
			padding: 20px;
			p

		}
		

		